@model IEnumerable<WebApplicationJuanJose.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabla de registros</h1>

<p>
    <a style="color:forestgreen;" asp-action="Create">Nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.img)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Deporte)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Trabaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.img)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Deporte)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Trabaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdRegistro">Editar</a> 
                <a  class="btn btn-info" asp-action="Details" asp-route-id="@item.IdRegistro">Detalle</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdRegistro">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
